## Acessando Banco de Dados com Python

In [ ]:
# Remove o arquivo com o banco de dados SQLite (caso existe)
import os
os.remove("escola.db") if os.path.exists('escola.db') else None

In [1]:
# Importa o módulo de acesso ao SQLite
import sqlite3

In [2]:
# Criando uma conexão com o banco de dados.
# se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [3]:
type(con)

sqlite3.Connection

In [4]:
# Criando um cursor
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [5]:
type(cur)

sqlite3.Cursor

In [6]:
# Criar uma instrução sql
sql_create = 'create table cursos '\
'(id interger primary key , '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [7]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

In [8]:
# Criando outyra sentença SQL para inserir registros
sql_insert = 'insert into cursos values(?, ?, ?)'

In [9]:
# Dados 
recset = [(1000,'Ciência de Dados','Data Science'),
         (1001, 'Big Data Fundamentos','Big Data'),
         (1002, 'Python Fundamentos', 'Análise de Dados')]

In [10]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [11]:
# Grava a transação
con.commit()

In [18]:
# Criando outras sentença SQL para selecionar registros
sql_select = 'select * from cursos'

In [19]:
# Selecionando todos os registros e recupera o9s registros
cur.execute(sql_select)
dados = cur.fetchall()

In [20]:
# Mostrar
for linha in dados:
    print("Curso Id: %d, Título: %s, Categoria: %s \n" % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados em MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [22]:
# Gerando outros registros
recset = [(1003,"Gestão de Dados em MongoDB","Big Data"),
         (1004, "R Fundamentos", "Análise de Dados")]

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.

In [24]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_select, rec)
    
# Gravando a transação
con.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.

In [25]:
# Selecione todos os registros
cur.execute("select * from cursos")

# Recupere os resultados
recset = cur.fetchall()

# fopr rec in recset:
print('Cursos Id: %d, Título: %s, Categoria: %s \n' % rec)

Cursos Id: 1003, Título: Gestão de Dados em MongoDB, Categoria: Big Data

In [26]:
# Fecha a conexão
con.close()